<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.floatpoint.kyt.mapper.WeatherMapper">
    <resultMap id="Material" type="com.floatpoint.kyt.entity.dataobject.Weather">
        <id property="weatherid" column="weather_id"/>
        <result property="weatherinf" column="weatherinf"/>


        <!--        复杂的属性需要单独处理 是对象就使用association，是集合就使用collection
        javaType="" 指定的属性类型
        集合中的泛型信息，使用ofType获取-->
    </resultMap>

</mapper>
